@model EnomisWatches.Models.Product

@{
    ViewBag.Title = "ByProduct";
}

<h2>Type of Watch</h2>

<div> <id ="watchimage1"> </div>
   


<div>
    <div>
        @*show the first product image*@
        @if (Model.Images.Any()) 
        {
        <img src="@Model.Images.First().ImageURL"/>
        }
    </div>

    <div>
        @foreach (var model in Model.Images)
        {
         <div class="thumbnails">
             <img src ="@Model.ImageUrl"/>
            </div>
        }
            
        </div>
      <div class="cart">
     <fieldset>
     <label>Enter Quantity</label>
     <input type="text" />
     </fieldset>
      <div>
       <p>
       <input type="submit" value="Add to Cart" />
       </p>
     </div>
    </div>
    </div>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SupplierID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupplierID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InStock)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InStock)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SKU)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
