<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Enomis Watches", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @*Display the user's cart*@
                    @Html.Action("MiniCart", "Cart")
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                       </nav>
                        
                         @*if the user is logged and an admin, show links to the admin section*@
                        @if (Request.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <nav>
                         <ul>
                             <li><a href="@Url.Action("Index","Product")">Product</a></li>
                             <li><a href="@Url.Action("Index","Image")">Image</a></li>
                             <li><a href="@Url.Action("Index","Category")">Category</a></li>
                             <li><a href="@Url.Action("Index","Supplier")">Supplier</a></li>
                             <li><a href="@Url.Action("Index","Review")">Review</a></li>
                         </ul>
                           </nav>
                        }
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
