@model IEnumerable<EnomisWatches.Models.Product>



@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to the Premier watch store Enomis Watches
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>


@foreach (var product in Model)
{
    <div class"product">
        <div>
            @*show the first product image*@
            @if (product.Images.Any()) 
            {
            <img src="@product.Images.First().ImageURL"/>
            }
            </div>
        <div>
            <a href="@Url.Action("ByProduct","Shop", new {id=product.ProductID})">
            @product.Name<br />
            was@product.ListPrice.ToString("c") NOW @product.UnitPrice.ToString("c"))<br />
            A savings of @(product.ListPrice - product.UnitPrice).ToString("c"))
        </div>
        </div>
}